.barra-navegacion-container {
    width: 100%;
    height: 100%;
    background-color: #195266;
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;   
}

.barra-navegacion-logo {
    width: 180px;
    height: 59px;
    margin-top: 40px;
}

.barra-navegacion-title {
    width: auto;
    height: 28px;
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 22px;
    
    font-style: bold;
    color: white;

    margin-top: 50px;
}

.barra-navegacion-options {
    display: flex;
    flex-direction: column;
    margin-top: 11px;
}

.barra-navegacion-option {
    width: auto;
    height: 20px;
    font-family: "Quicksand", serif;
    font-size: 16px;
    color: white;
}