*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




.information {
    row-gap: 30px;
    padding: 30px;

}

.information_header {
    justify-content: space-between;
    column-gap: 5px;
}

.information_header_buscador {
    align-items: center;
    border: 1px #99D2E5 solid;
    border-radius: 15px;
    height: 38px;
    padding-left: 10px;
    padding-right: 10px;
    flex-grow: 1;
    flex-shrink: 3;
    
}

.information_header_buscador-input { 
    border: none;
}

.information_header_buscador-input:focus {
    outline: none;
    border: none;
}


.information_header_perfil {
    flex-grow: 5;
    flex-shrink: 0;
    column-gap: 1px;
    align-items: center;
    justify-content: flex-end;
}

.information_header_perfil_icon {
    font-size: 30px;
}


.information_artist {
    background-color: #EEF7FA;;
    border-radius: 10px;
}

.information_artist_figure {
    max-width: 250px;
    justify-content: center;
    align-items: center;
}

.icon_play_artist{
    position: absolute;
    font-size: 150px;
}

.information_artist_figure-image {
    object-fit: cover;
    height: 250px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.information_artist_data {
    flex-grow: 1;
    row-gap: 20px;
    padding: 20px;
}

.information_artist_data-singer{
    width: max-content;

}

.information_artist_data_subtitle{
    column-gap: 20px;
    width: max-content;
    flex-grow: 1;
}

.information_artist_data_subtitle-text {
    width: max-content;
}

.information_artist_data_subtitle-followers{
    width: max-content;
}

.information_artist_data-description-text {
    flex-grow: 1;
}

.information_artist_data_buttons{
    column-gap: 20px;
    width: max-content;
}

.button-reproducir {
    background-color: #33A5CC;
    border-radius: 15px;
    border: 1px #33A5CC solid;
    width: 136px;
    height: 38px;
    font-size: 16px;
}

.button-follow {
    border: 1px #33A5CC solid;
    background-color: white;
    border-radius: 15px;
    width: 99px;
    height: 38px;
    font-size: 16px;
}

.button-more {
    border: none;
    background: none;
}

.button-more span {
    color: black;
}

.button-follow, .button-reproducir, .button-more:hover {
    cursor: pointer;
}

.information_resultados {
    row-gap: 20px;
}

@media (max-width: 1000px) {
    .information_artist {
        flex-wrap: wrap;
        justify-content: center;
    }

    .information_artist_figure-image {
        padding: 30px;

    }
    .information_resultados{
        flex-grow: 0;
    }
    
}

@media (max-width: 600px) {
    .information {
        padding: 20px;
    
    }

    .information_artist_data{
       width: 60%;
    }

    .information_artist_data_buttons{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }


}

