<main class="information flex-column">
    <header class="information_header flex-row ">

        <section class="information_header_buscador flex-row ">
            <input class="information_header_buscador-input font-secondary color-secondary width-100" type="text" placeholder="Buscar">
            <span class="material-icons">search</span>
        </section>

        <section class="information_header_perfil flex-row ">
            <span class="material-icons information_header_perfil_icon color-primary">person</span> 
            <p class="information_header_perfil-name font-secondary" >Arthur Fleck</p>
        </section>

    </header>
    <section class="information_artist flex-row ">
        <figure class="information_artist_figure flex-row ">
            <img class="information_artist_figure-image" src="{{artist.imageUrl}}" alt="">
            <span class="material-icons icon_play_artist color-terciary">play_arrow</span>
        </figure>
        <section class="information_artist_data flex-column">
            <h1 class="information_artist_data-singer font-primary color-secondary">
                {{artist.nombre}}
            </h1>
            <section class="information_artist_data_subtitle flex-row ">  
                <p class="information_artist_data_subtitle-text font-secondary">Lo mejor de {{artist.nombre.split(' ')[0]}}</p>
                <p class="information_artist_data_subtitle-followers color-primary font-secondary">{{artist.followers | number:'1.0-0'}} seguidores</p>
            </section>
  
            <p class="information_artist_data-description-text font-secondary">
                    {{artist.description}}
            </p>
    
            <div class="information_artist_data_buttons flex-row ">
                <button class="button-reproducir color-terciary font-secondary"> Reproducir</button>
                <button class="button-follow color-primary font-secondary">Seguir </button>
                <button class="button-more"><span class="material-icons icon-color">more_horiz</span></button>
            </div>
        </section>
    </section>
    <section class="information_resultados flex-column"> 
        <h1 class="information_resultados_title color-secondary font-primary">Resultados</h1>
        <p class="information_resultados_text font-secondary">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
    </section>
</main>