<div class="container">
    <main class="container__contenido">
        <section class="container__contenido__form">
            <app-foxbel></app-foxbel>
        </section>
        <div class="container__contenido__decoration">
           <figure class="container__contenido__decoration__figure">
                <figcaption>
                    Very good works are waiting for you Login now!!!
                </figcaption>    
                <img src="assets/images/mario.png" alt="fox">
           </figure>
        </div>
    </main>
</div>