

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    flex-direction: row;
    border: 10px red solid;
    flex-grow: 6;
    flex-shrink: 1;
}

.footer {
    flex: 1 0 80px;
    border: 10px green solid;
}