/* .container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.cube {
    width: 100px;
    height: 100px;
    background-color: red;
    z-index: 1;
}

.back{
    width: 100px;
    height: 100px;
    background-color: rgba(255, 0, 0, 0.397);
    position: relative;
    right: 50px;
    bottom: 50px;
}

.triangle {
    position: relative;
    top: 50px;
    --triangle-shape: polygon(100% 0%, 100% 0%, 100% 0%);
    --gradient: linear-gradient(indigo, hotpink);

    background: var(--gradient);
    width: 100px;
    height: 100px;
    clip-path: var(--triangle-shape);
} */



