<!-- <main class="container">
    <div class="cube"></div>
    <div class="back"></div>
    <div class="triangle"></div>
</main> -->
<main class="form">
    <h1 class="form__title">LOGIN</h1>
    <h3 class="form__subtitle">How to i get started lorem ipsum dolor ot</h3>
    <form action="" class="form__container">
        <div class="form__container__textinput">
            <span class="material-icons">person</span>
            <input type="text" placeholder="Username">
        </div>
        <div class="form__container__textinput">
            <span class="material-icons">lock</span>
            <input type="password" placeholder="Password">
        </div>
        <button class="form__container__button">Login</button>
    </form>
    <section class="form__social">
        <button> Login with <strong>google</strong> </button>
        <button>Login with <strong>Facebook</strong> </button>
    </section>
</main>