<div class="barra-control-container">
    <img class="barra-control-imagen" src="assets/images/adele.png">
    <div class="barra-control-info">
        <div class="barra-control-detalles">
            <div class="barra-control-detalles-name">Someone like you</div>
            <div class="barra-control-detalles-singer">Adele - 21</div>
        </div>
        <div class="barra-control-controles">
            <span class="material-icons icon-skip">skip_previous</span>
            <div class="play">
                <span class="material-icons triangle">play_arrow</span>
            </div>
            <span class="material-icons icon-skip">skip_next</span>
        </div>
        <div class="barra-control-sound">
            <div class="barra-control-sound-barra">
                <div class="barra-control-sound-circle"></div>
            </div>
            
            <span class="material-icons icon-volume">volume_up</span>
        </div>
    </div>
</div>